@import url("http://fonts.googleapis.com/css?family=Oxygen:400,300,700");
@import url("data_vis_style.css");
.bgProperty, body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed; }

* {
  font-family: "Inconsolata", helvetica, sans-serif;
  font-size: 20px; }

html {
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.hidden {
  display: none; }

#filter {
  background-image: url(../images/pattern.png);
  background-attachment: fixed;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  height: auto; }

.clear {
  clear: both;
  padding-top: 2%; }

hr {
  width: 95%; }
  hr.clear {
    padding: 0;
    margin: 2%; }

svg {
  width: 100%;
  height: 100%;
  min-height: 200px; }
  svg .circle-text {
    font-size: 16px;
    width: 200px; }

#wrapper {
  position: relative;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
  background-color: rgba(249, 242, 231, 0.9); }
  #wrapper h1 {
    margin: 2%;
    margin-top: 50px;
    color: #00A8C6;
    font-size: 2em; }
  #wrapper h2 {
    margin-left: 2%;
    font-size: .8em; }
  #wrapper > p {
    margin: 2%; }
  #wrapper > p#credits {
    font-size: .5em;
    padding-top: 20px;
    padding-bottom: 20px; }
  #wrapper.about p, #wrapper.about a {
    font-size: 1em; }
  #wrapper ul {
    list-style: none;
    margin: 2%;
    padding: 2%; }
  #wrapper li {
    padding: 0;
    margin-bottom: 10px; }
  #wrapper .textHighlight {
    color: #8FBE00;
    font-weight: 700; }
  #wrapper nav {
    padding: 2%;
    background-color: #00A8C6;
    border-bottom: 4px solid #AEE239; }
    #wrapper nav h1 {
      color: #8FBE00;
      display: inline-block;
      font-size: 1.3em;
      margin: 0;
      padding: 0; }
    #wrapper nav .menuItem {
      display: inline-block;
      margin-right: 2%; }
      #wrapper nav .menuItem a {
        position: relative;
        display: inline-block;
        margin: 2%;
        padding: .5em 1em;
        border-radius: 5px;
        box-shadow: 1px 1px 2px silver;
        background-color: #AEE239;
        color: white;
        text-decoration: none; }
      #wrapper nav .menuItem a:hover {
        cursor: pointer;
        background-color: #8FBE00; }
  #wrapper #searchResultField {
    clear: both; }
    #wrapper #searchResultField .returnList {
      max-height: 100px;
      overflow-x: hidden;
      overflow-y: auto; }
    #wrapper #searchResultField .searchResult {
      float: left;
      clear: both;
      font-size: .95em; }
      #wrapper #searchResultField .searchResult:hover {
        cursor: pointer; }
    #wrapper #searchResultField .platform {
      float: right;
      text-align: right;
      margin: 0;
      padding: 0;
      width: 45%;
      height: 18px;
      font-size: .8em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  #wrapper .controlInput {
    background-color: #00A8C6;
    font-size: .8em;
    padding: 2%;
    margin: 2%;
    border: none;
    border-radius: 5px;
    color: white;
    appearance: none;
    -webkit-appearance: none; }
  #wrapper .controlInput:hover {
    cursor: pointer;
    background-color: #2195CC; }
  #wrapper select.controlInput {
    background: url(../images/drop-down-arrow.png) no-repeat right #00A8C6;
    background-size: auto 80%;
    padding-right: 6%; }
  #wrapper div#searchWrapper {
    position: relative;
    display: inline-block;
    width: 68%;
    margin: 2%;
    float: left; }
    #wrapper div#searchWrapper #searchLoading {
      width: 30px;
      height: 30px;
      pointer-events: none;
      background: url(../images/loading.gif) no-repeat;
      background-size: 30px;
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 0; }
    #wrapper div#searchWrapper .controlInput#gameSearch {
      cursor: auto;
      width: 70%;
      width: 100%;
      padding: 3% 2%;
      margin: 0; }
      #wrapper div#searchWrapper .controlInput#gameSearch::-webkit-search-decoration, #wrapper div#searchWrapper .controlInput#gameSearch::-webkit-search-cancel-button, #wrapper div#searchWrapper .controlInput#gameSearch::-webkit-search-results-button, #wrapper div#searchWrapper .controlInput#gameSearch::-webkit-search-results-decoration {
        display: none; }
  #wrapper .controlInput#gameField {
    width: 30%; }
  #wrapper .controlInput#gameSearchSubmit {
    width: 23%;
    float: right; }
  #wrapper .controlInput#displayType {
    width: 46%;
    float: left; }
  #wrapper .controlInput#sortType {
    width: 46%;
    float: right; }
  #wrapper .controlInput#sortType_example {
    width: 95%; }
  #wrapper ._resultField, #wrapper #currentGamesField, #wrapper #currentSortField {
    margin: 2%;
    width: 42%;
    display: inline-block; }
  #wrapper ._togglableField {
    cursor: pointer; }
  #wrapper #currentGamesField {
    float: left; }
    #wrapper #currentGamesField .gameResultItemHeader {
      cursor: pointer;
      color: black; }
      #wrapper #currentGamesField .gameResultItemHeader.active {
        color: #00A8C6; }
  #wrapper #currentSortField {
    float: right; }
    #wrapper #currentSortField .sortResultItem {
      cursor: pointer;
      color: black; }
      #wrapper #currentSortField .sortResultItem.active {
        color: #00A8C6; }
  #wrapper ._results, #wrapper #textResults, #wrapper #chartResults {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
    -webkit-transition: max-height .5s;
    -moz-transition: max-height .5s;
    -ms-transition: max-height .5s; }
    #wrapper ._results.active, #wrapper .active#textResults, #wrapper .active#chartResults {
      max-height: 100000px; }

@media screen and (max-device-width: 768px) {
  #wrapper {
    max-width: 90%; }
    #wrapper nav .menuItem a,
    #wrapper .controlInput {
      font-size: .9em; }
    #wrapper #searchLoading {
      width: 20px;
      height: 20px;
      background-size: 20px;
      right: 8px;
      top: 8px; }
    #wrapper .controlInput#gameField {
      width: 40%; }
    #wrapper #node-info {
      width: 125px; }
    #wrapper .node-label {
      width: 40%;
      float: left;
      font-size: 10px;
      line-height: 11px;
      font-family: Arial;
      font-weight: bold; }
    #wrapper .node-data, #wrapper .node-data-short, #wrapper .node-data-full, #wrapper .node-data-wide {
      width: 60%;
      float: left;
      font-family: Arial;
      font-weight: normal;
      font-size: 10px;
      line-height: 11px;
      text-align: left; }
    #wrapper .node-list-item {
      width: 100%;
      float: left;
      font-size: 9px; } }
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #wrapper {
    max-width: 95%; }
    #wrapper h1 {
      font-size: 1.5em; }
    #wrapper nav .menuItem a,
    #wrapper .controlInput {
      font-size: .6em; }
    #wrapper div#searchWrapper #searchLoading {
      width: 17px;
      height: 17px;
      background-size: 17px;
      right: 5px;
      top: 5px; }
    #wrapper .controlInput#gameField {
      width: 95%; }
    #wrapper svg {
      min-height: 250px;
      height: 250px; }
      #wrapper svg .circle-text {
        font-size: 30px; }
    #wrapper #node-info {
      width: 75px; }
    #wrapper .node-label {
      width: 40%;
      float: left;
      font-size: 8px;
      line-height: 11px;
      font-family: Arial;
      font-weight: bold; }
    #wrapper .node-data, #wrapper .node-data-short, #wrapper .node-data-full, #wrapper .node-data-wide {
      width: 60%;
      float: left;
      font-family: Arial;
      font-weight: normal;
      font-size: 8px;
      line-height: 11px;
      text-align: left; }
    #wrapper .node-list-item {
      width: 100%;
      float: left;
      font-size: 6px; } }

/*# sourceMappingURL=style.css.map */
