@import url("http://fonts.googleapis.com/css?family=Oxygen:400,300,700");
@import url("data_vis_style.css");

$mainFont: "Inconsolata", helvetica, sans-serif;

$primaryColor : #00A8C6;
$primaryColorAlt : #40C0CB;

$secondaryColor : #AEE239;
$secondaryColorAlt : #8FBE00;

$highlightColor : #8FBE00;
$highlightColorAlt : #8FBE00;

$wrapperWidthDesktop : 60%;
$wrapperWidthTablet : 90%;
$wrapperWidthPhone : 95%;
$marginSize : 2%;

.bgProperty {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover; -webkit-background-size: cover;
	background-attachment: fixed;
}

* {
	font-family: $mainFont;
	font-size: 20px;
}
html {
	height: 100%;
}
body {
	@extend .bgProperty;
	padding: 0;
	margin: 0;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;	
}

.hidden {
	display: none;
}
#filter {
	background-image: url(../images/pattern.png);
	background-attachment: fixed;	
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: repeat;
	height: auto;
}

.clear {
	clear: both;
	padding-top: 2%;
}
hr {
	width: 95%;
	&.clear {
		padding: 0;
		margin: 2%;
	}
}
svg{
	.circle-text {
		font-size: 16px;
		width: 200px;

	}	
	width: 100%;
	height: 100%;
	min-height: 200px;
}


#wrapper {
	position: relative;
	max-width: $wrapperWidthDesktop;
	height: auto;
	margin: 0 auto;
	background-color: rgba(249,242,231, 0.9);

	// GENERAL STYLING
	h1 {
		margin: $marginSize;
		margin-top: 50px;
		color: $primaryColor;
		font-size: 2em;
	}
	h2 {
		margin-left: 2%;
		font-size: .8em;
	}
	&>p {
		margin: $marginSize;
	}
	&>p#credits {
		font-size: .5em;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&.about p,
	&.about a, {
		font-size: 1em;
	}
	ul {
		list-style: none;
		margin: $marginSize;
		padding: $marginSize;
	}
	li {
		padding: 0;
		margin-bottom: 10px;
	}

	.textHighlight {
		color: $highlightColor;
		font-weight: 700;
	}

	// NAV STYLING
	nav {
		padding: 2%;
		background-color: $primaryColor;
		border-bottom: 4px solid $secondaryColor;

		h1 {
			color: $highlightColor;
			display: inline-block;
			font-size: 1.3em;
			margin: 0;
			padding: 0;
		}
		.menuItem {
			display: inline-block;
			margin-right: 2%;

			a {
				position: relative;
				display: inline-block;
				margin: 2%;
				padding: .5em 1em;
				border-radius: 5px;  
				box-shadow: 1px 1px 2px silver;
				background-color: $secondaryColor;  
				// border: 1px solid $secondaryColor;
				color: white;  
				text-decoration: none;  
				
				
			}
			a:hover {
				cursor: pointer;  
				background-color: $secondaryColorAlt;  
				// border: 1px solid $secondaryColorAlt;
			}
		}
	}

	#searchResultField {
		clear:both;

		.returnList {
			max-height: 100px;
			overflow-x: hidden;
			overflow-y: auto;
		}

		.searchResult {
			float: left;
			clear:both;
			font-size: .95em;
			&:hover {
				cursor: pointer;
			}
		}

		.platform {
			float:right;
			text-align:right;
			margin: 0;
			padding: 0;
			width: 45%;
			height: 18px;
			font-size: .8em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

		}
	}

	// INPUT FIELDS
	.controlInput {
		background-color: $primaryColor;
		font-size: .8em;
		padding: 2%;
		margin: 2%;
		border: none;
		border-radius: 5px;
		color: white;
		appearance: none;
		-webkit-appearance: none;
	}
	.controlInput:hover {
		cursor: pointer;
		background-color: #2195CC;
	}

	select.controlInput {
		background: url(../images/drop-down-arrow.png) no-repeat right $primaryColor;
		background-size: auto 80%;
		padding-right: 6%;
	}

	div#searchWrapper {
		position: relative;
		display:inline-block;
		width: 68%;
		margin: 2%;
		float: left;

		#searchLoading {
			width: 30px;
			height: 30px;
			pointer-events:none;
			background: url(../images/loading.gif) no-repeat;
			background-size: 30px;
			position: absolute;
			right: 15px;
			top: 15px;
			opacity: 0;
		}
		.controlInput#gameSearch {
			cursor: auto;
			width: 70%;
			width: 100%;
			padding: 3% 2%;
			margin: 0;

			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration { display: none; }
		}	
	}
	
	.controlInput#gameField {
		width: 30%;
	}
	
	.controlInput#gameSearchSubmit {
		width: 23%;
		float: right;
	}
	.controlInput#displayType {
		// width: 29%;
		width: 46%;
		float:left;
	}
	.controlInput#sortType {
		// width: 29%;
		width: 46%;
		float:right;
	}
	.controlInput#sortType_example {
		width: 95%;
	}
	._resultField {
		margin: 2%;
		width: 42%;
		display: inline-block;
	}
	._togglableField {
		cursor: pointer;
	}

	#currentGamesField {
		@extend ._resultField;	
		float: left;		
		.gameResultItemHeader {
			cursor: pointer;
			color: black;

			&.active {
				color: $primaryColor;
			}
		}
	}

	#currentSortField {
		@extend ._resultField;
		float: right;

		.sortResultItem {
			cursor: pointer;
			color: black;

			&.active {
				color: $primaryColor;
			}	
		}
	}
	._results {
		max-height: 0px;
		overflow: hidden;
		transition: max-height .5s;
		-webkit-transition: max-height .5s;
		-moz-transition: max-height .5s;
		-ms-transition: max-height .5s;
		&.active {
			max-height: 100000px;
		}
	}
	#textResults {
		@extend ._results;
	}
	#chartResults {
		@extend ._results;
	}
}

// Tablet
@media screen  and (max-width : 768px) {
	#wrapper {
		max-width: $wrapperWidthTablet;

		nav .menuItem a,
		.controlInput {
			font-size: .9em;
		}

		#searchLoading {
			width: 20px;
			height: 20px;
			background-size: 20px;
			right: 8px;
			top: 8px;
		}

		.controlInput#gameField {
			width: 40%;
		}

		#node-info {
			width: 125px;
		}

		.node-label {
			width: 40%;
			float: left;
			font-size: 10px;
			line-height: 11px;
			font-family: Arial;
			font-weight: bold;
		}

		.node-data, .node-data-short, .node-data-full, .node-data-wide {
			width: 60%;
			float: left;
			font-family: Arial;
			font-weight: normal;
			font-size: 10px;
			line-height: 11px;
			text-align: left;
		}

		.node-list-item {
			width: 100%;
			float: left;
			font-size: 9px;
		}
	}
}

// Phones
@media screen 
	and (min-width : 320px)  
	and (max-width : 480px) 
{	
	#wrapper {
		max-width: $wrapperWidthPhone;

		h1 {
			font-size:1.5em;
		}

		nav .menuItem a,
		.controlInput {
			font-size: .6em;
		}	

		div#searchWrapper #searchLoading {
			width: 17px;
			height: 17px;
			background-size: 17px;
			right: 5px;
			top: 5px;
		}

		.controlInput#gameField {
			width: 95%;
		}	
		svg{
			.circle-text {
				font-size: 30px;
			}	
			min-height: 250px;
			height: 250px;
		}

		#node-info {
			width: 75px;
		}

		.node-label {
			width: 40%;
			float: left;
			font-size: 8px;
			line-height: 11px;
			font-family: Arial;
			font-weight: bold;
		}

		.node-data, .node-data-short, .node-data-full, .node-data-wide {
			width: 60%;
			float: left;
			font-family: Arial;
			font-weight: normal;
			font-size: 8px;
			line-height: 11px;
			text-align: left;
		}

		.node-list-item {
			width: 100%;
			float: left;
			font-size: 6px;
		}
	}
}